<!DOCTYPE html>
<html>
<head>
    <title>Student Teacher Portal</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <style>
    </style>
</head>
<body>
    <header>
        <div id="banner">
            <h1>Welcome to Student Teacher Portal</h1>
        </div>
    </header>

    <div id="js-check"></div>
    <main>
        <section id="auth-section">
            <div id="teacher-auth">
                <img class="teach-img" src="../static/images/teach-cartoon.png" alt="">
                <button onclick="location.href='/teachlog'">Login as Teacher</button>
                <button onclick="location.href='/teachreg'">Sign up as Teacher</button>
            </div>

            <div id="student-auth">
                <img class="stud-img" src="../static/images/stud-cartoon.png" alt="">
                <button onclick="location.href='/studlog'">Login as Student</button>
                <button onclick="location.href='/studreg'">Sign up as Student</button>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <p>Contact Us: info@eduportal.org</p>
    </footer>

    <!-- Add your scripts here if any -->
</body>
</html>
